body {
  background: -webkit-gradient(linear, right top, left top, from(#005aa88a), to(#fffde58a));
  background: linear-gradient(270deg, #005aa88a, #fffde58a);
  opacity: 50;
  font-size:18px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left:1%;  
  font-weight: 690;
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}


.Heading {
  font-size:50px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  color: #585858;
  text-decoration: none;
}