.textbox{
    width: 90%;
    padding: 1em;
    margin: 2em auto;
    border: solid lightgrey 1px;
    border-radius:5px 5px 5px 5px ;
}

.textbox:focus{
    border: 2px solid black;
    box-shadow: 5px 5px;
}

.searchContainer{
    background-color: #f7f5fa;
    display: flex;
    padding:2em;
    flex-direction: column;
}

.btn{
    padding: 0.6em 2em;
    font-size: 1.2em;
    border-radius: 5px 5px;
    background-color: #070a39;
    color:white;
    border: none;
    text-transform: uppercase;
    font-weight: 550;
}

.btn:hover{
    cursor: pointer;
    box-shadow: #68d391 2px 2px;
}

@media (min-width: 900px){
    .searchContainer{
        padding-left: 15vw;
        padding-right: 15vw;   
    }
    .textbox{
        width: 95%;
    }   
}