<footer>
    <div class = "container">
    <h3>Satta is the ultimate truth</h3>
    <h4><a href="/points">Points Table</a></h4>
    <h5><a href="/playerWisePoints">Teams and Player wise points for salty bitches</a></h5>
    </div>
</footer>
<script type="text/javascript" src="js/materialize.js"></script>