<footer>
    <div class = "container">
    <h5>Jeetegi to India hi</h3>
    <h4><a href="/points">Points Table</a></h4>
    </div>
</footer>
<script type="text/javascript" src="js/materialize.js"></script>