<section>
    <script>
        function onLoad(){
            var html = "";
            var players = [ {{ data }} ]
        players.forEach( (player) =>{
            var txt = '<input type="checkbox" name="players" value="' +player+'">'+player+'</input><br>'
            html += txt;
        })
        document.getElementById('fmcheckbox').innerHTML += html;
    }
    window.onload = onLoad;
    </script>
    <form method="POST" action="/teams" id="tmform">
        <div id="fmcheckbox">
        </div>
        <input type="text" style="display:none" value="PlayerName" name="playerName" />
        <input type="submit" value="Submit" />
    </form>
</section>