<section>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,900,700,600,200" rel="stylesheet">
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,900,700,600,200'>
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css'>
        <link rel='stylesheet' type="text/css" href="css/style.css">
    <script>
        function onLoad(){
            var html = "";
            var players = _data = [ "Liton Das","Tamim Iqbal", "Shakib Al Hasan","Mushfiqur Rahim","Soumya Sarkar","Mahmudullah","Mosaddek Hossain","Mohammad Saifuddin","Mehidy Hasan Miraz","Mashrafe Mortaza","Mustafizur Rahman",
    "Gulbadin Naib","Rahmat Shah", "Hasmatullah Shahidi","Asghar Afghan","Mohammad Nabi","Samiullah Shinwari","Ikram Alikhil","Najbullah Zadran","Rashid Khan","Dawlat Zadran","Mujeeb Ur Rahman"  ]
        players.forEach( (player) =>{
            var txt = '<input type="checkbox" style = " margin-right : 20px;" name="players" value="' +player+'">'+player+'</input><br>'
            html += txt;
        })
        document.getElementById('fmcheckbox').innerHTML += html;
    }
    window.onload = onLoad;
    </script>

        <h1 align="center" class = "Heading"> Satta application me aapka swaagat hai </h1>
            <br>

    <form method="POST" action="/teams" id="tmform">
        <div id="fmcheckbox">
        </div>
        <input type="text" style="display:none" placeholder="PlayerName" name="playerName" />
        <br>
        <br>
        <input type="submit" value="Submit" />
    </form>
</section>
