
<section>
<script>
        var numbers = {
            "batsmen": 0,
            "bowlers" : 0,
            "allrounders": 0,
            "wicketkeepers":0
        }, readyToSend = false
        function onLoad(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
                let players = xhttp.response.teams
                if(xhttp.response.sattaOn){
                    for(category in players){
                        var html = ''
                        players[category].forEach( (player) =>{
                            var txt = '<div class="card-panel grey darken-3"> <p><label><input type="checkbox" onClick="checkboxHandler(this)" class='+category+' name="players" value="' +player+'" /> <span class = "white-text">'+player+'</label></p></span></div><br>'
                            html += txt;
                        })
                        document.getElementById(category).innerHTML += html
                    }
                }
                else{
                        document.getElementById("bodyContainer").innerHTML = "<p>Satta is currently off.</p>"
                }
            }
        }
        xhttp.responseType = "json"
        xhttp.open("GET", "/matchTeams", true);
        xhttp.send(); 
    }
    function checkboxHandler(element){
        if(element.checked){
            switch(element.className){
                case 'batsmen' : numbers.batsmen++;
                                    break;
                case 'bowlers': numbers.bowlers++;
                                    break;
                case 'allrounders': numbers.allrounders++;
                                    break;
                case 'wicketkeepers': numbers.wicketkeepers++;
                                        break;
            }
        }
        else {
            switch(element.className){
                case 'batsmen' : numbers.batsmen--;
                                    break;
                case 'bowlers': numbers.bowlers--;
                                    break;
                case 'allrounders': numbers.allrounders--;
                                    break;
                case 'wicketkeepers': numbers.wicketkeepers--;
                                        break;
            }
        }
        checkReady();
    }
    function checkReady(){
        if(numbers.batsmen==3 && numbers.bowlers==3 && numbers.allrounders==1 && numbers.wicketkeepers==1){
            readyToSend = true
        }
        else{
            readyToSend = false
        }
    }
    function submitHandler(){
        if(readyToSend){
            document.getElementById('tmform').submit()
        }
        else{
            alert("Team sahi se choose karo")
        }
    }
    window.onload = onLoad;
    </script>
    <div class="container" id="bodyContainer">
    <form method="POST" action="/sattaSubmit" id="tmform">
        <div id="fmcheckbox">
            <div id="batsmen">
                <h3>Batsmen</h3>
            </div>
            <div id="allrounders">
                <h3>All Rounders</h3>
            </div>
            <div id="wicketkeepers">
                <h3>Wicket Keepers</h3>
            </div>
            <div id="bowlers">
                <h3>Bowlers</h3>
            </div>
        </div>
        <div class="input-field">
          <input id="name" type="text" name="name" class="validate white-text" required>
          <label for="name">Name</label>
        </div>
        <br>
        <br>
        <button class="btn waves-effect  yellow accent-2  grey-text text-darken-4" type="button" onClick="submitHandler()">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    </div>
</section>


