{{> header }}
<section>
    <script>
        function onLoad(){
            var html = "";
            var players = [ "Gulbadin Naib", "Rahmat Shah", "Hashmatullah Shahidi", "Asghar Afghan" ,"Samiullah Shinwari", "Mohammad Nabi", "Najibullah Zadran", "Ikram Alikhil", "Rashid Khan", "Hamid Hassan", "Mujeeb Ur Rahman",
             "Imam-ul-Haq", "Fakhar Zaman", "Babar Azam", "Mohammad Hafeez", "Haris Sohail", "Sarfaraz Ahmed", "Imad Wasim", "Shadab Khan", "Mohammad Amir", "Wahab Riaz", "Shaheen Afridi" ]
        players.forEach( (player) =>{
            var txt = '<div class="card-panel grey darken-3"> <p><label><input type="checkbox" name="players" value="' +player+'" /> <span class = "white-text">'+player+'</label></p></span></div><br>'
            html += txt;
        })
        document.getElementById('fmcheckbox').innerHTML += html;
    }
    window.onload = onLoad;
    </script>
    <div class="container">
    <form method="POST" action="/teams" id="tmform">
        <div id="fmcheckbox">
        </div>
        <div class="input-field">
          <input id="name" type="text" name="name" class="validate white-text">
          <label for="name">Name</label>
        </div>
        <br>
        <br>
        <button class="btn waves-effect  yellow accent-2  grey-text text-darken-4" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    </div>
</section>

{{> footer }}
