{{> header }}

<section>
    <script>
        var html = ""
        function onLoad(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let points = xhttp.response.players
                for(player in points){
                    let txt = "<tr><td>"+player+"</td><td>"+points[player]+"</td></tr>"
                    html += txt
                }
            document.getElementById('pointsTable').innerHTML += '<table><tr><th>Name</th><th>Points</th></tr>' + html +'</table>';
                }
            }
        xhttp.responseType = "json"
        xhttp.open("GET", "/pointsTable", true);
        xhttp.send(); 
        }
        window.onload = onLoad
    </script>
    <div class = "container">
        <div id="pointsTable">  
        </div>
    </div>
</section>

{{> footer }}